USE [master]
GO
/****** Object:  Database [GestionWorkFlow]    Script Date: 27/09/2024 14:38:27 ******/
CREATE DATABASE [GestionWorkFlow]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionWorkFlow', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionWorkFlow.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionWorkFlow_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionWorkFlow_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionWorkFlow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionWorkFlow]
GO
/****** Object:  Table [dbo].[BONO]    Script Date: 27/09/2024 14:38:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONO](
	[ID_BONO] [uniqueidentifier] NOT NULL,
	[CATEGORIA] [varchar](50) NOT NULL,
	[MONTO] [decimal](18, 0) NOT NULL,
	[MINIMO_TAREAS] [int] NOT NULL,
 CONSTRAINT [PK_BONO_1] PRIMARY KEY CLUSTERED 
(
	[ID_BONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 27/09/2024 14:38:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTE_1] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PEDIDO]    Script Date: 27/09/2024 14:38:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDO](
	[ID_DETALLE] [uniqueidentifier] NOT NULL,
	[ID_PEDIDO] [uniqueidentifier] NOT NULL,
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
 CONSTRAINT [PK_DETALLE_PEDIDO_1] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE] ASC,
	[ID_PEDIDO] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_TAREA]    Script Date: 27/09/2024 14:38:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_TAREA](
	[FECHA_HORA_INICIO] [datetime] NOT NULL,
	[FECHA_HORA_FIN] [datetime] NULL,
	[COD_EMPLEADO] [int] NOT NULL,
	[ID_TAREA] [uniqueidentifier] NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DETALLE_TAREA] PRIMARY KEY CLUSTERED 
(
	[FECHA_HORA_INICIO] ASC,
	[COD_EMPLEADO] ASC,
	[ID_TAREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 27/09/2024 14:38:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[COD_EMPLEADO] [int] NOT NULL,
	[ID_BONO] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[TELEFONO] [varchar](50) NOT NULL,
	[ROL] [varchar](50) NOT NULL,
	[TURNO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[COD_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 27/09/2024 14:38:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[ID_PEDIDO] [uniqueidentifier] NOT NULL,
	[ID_CLIENTE] [uniqueidentifier] NOT NULL,
	[COD_EMPLEADO] [int] NOT NULL,
	[FECHA_HORA] [datetime] NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 27/09/2024 14:38:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](150) NOT NULL,
	[PRECIO] [decimal](18, 0) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PRODUCTO_1] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAREA]    Script Date: 27/09/2024 14:38:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAREA](
	[ID_TAREA] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TAREA_1] PRIMARY KEY CLUSTERED 
(
	[ID_TAREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BONO] ([ID_BONO], [CATEGORIA], [MONTO], [MINIMO_TAREAS]) VALUES (N'00000000-0000-0000-0000-000000000000', N'default', CAST(0 AS Decimal(18, 0)), 0)
INSERT [dbo].[BONO] ([ID_BONO], [CATEGORIA], [MONTO], [MINIMO_TAREAS]) VALUES (N'252e53c2-0054-4701-9a9e-da5651d78753', N'ORO', CAST(5000 AS Decimal(18, 0)), 2)
GO
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [DNI]) VALUES (N'00000000-0000-0000-0000-000000000000', N'default', N'default', 0)
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [DNI]) VALUES (N'fbe2cb8a-1833-4675-b6c6-dc8015bf8260', N'Leonel', N'Caruso', 40344178)
GO
INSERT [dbo].[DETALLE_PEDIDO] ([ID_DETALLE], [ID_PEDIDO], [ID_PRODUCTO], [CANTIDAD]) VALUES (N'fa4f09f0-0adf-4d66-b3b6-39816ad50812', N'807ed754-2a5f-4863-ad0a-187e4940bf67', N'9bf0fbcc-8ff5-468c-a308-04406a3b91e7', 1)
INSERT [dbo].[DETALLE_PEDIDO] ([ID_DETALLE], [ID_PEDIDO], [ID_PRODUCTO], [CANTIDAD]) VALUES (N'8b75cf92-c4fa-4158-939f-52299c971eb3', N'766944ed-56b3-4460-914a-716a83f814b6', N'9941dff1-c215-4d49-b8f0-9c6b54254753', 2)
INSERT [dbo].[DETALLE_PEDIDO] ([ID_DETALLE], [ID_PEDIDO], [ID_PRODUCTO], [CANTIDAD]) VALUES (N'ad1e2647-5ec6-4e97-9ff4-94c5955e7943', N'ade04243-4151-496c-9f39-470829307a55', N'9ebafa88-5f86-4c91-a085-5358602bf0be', 1)
GO
INSERT [dbo].[DETALLE_TAREA] ([FECHA_HORA_INICIO], [FECHA_HORA_FIN], [COD_EMPLEADO], [ID_TAREA], [ESTADO]) VALUES (CAST(N'2024-09-22T20:27:55.000' AS DateTime), CAST(N'2024-09-22T20:27:58.000' AS DateTime), 366, N'5dfed908-1387-4ce7-8df8-5b47bf12bd8c', N'Finalizado')
INSERT [dbo].[DETALLE_TAREA] ([FECHA_HORA_INICIO], [FECHA_HORA_FIN], [COD_EMPLEADO], [ID_TAREA], [ESTADO]) VALUES (CAST(N'2024-09-22T20:28:02.000' AS DateTime), CAST(N'2024-09-22T20:28:05.000' AS DateTime), 366, N'888d758a-dbb4-42f6-b07b-7f593fbeb6ea', N'Finalizado')
INSERT [dbo].[DETALLE_TAREA] ([FECHA_HORA_INICIO], [FECHA_HORA_FIN], [COD_EMPLEADO], [ID_TAREA], [ESTADO]) VALUES (CAST(N'2024-09-22T20:28:11.000' AS DateTime), CAST(N'2024-09-22T20:28:13.000' AS DateTime), 366, N'abbd3fc6-457b-48a8-b1dc-a44d3b47a134', N'Finalizado')
GO
INSERT [dbo].[EMPLEADO] ([COD_EMPLEADO], [ID_BONO], [NOMBRE], [APELLIDO], [DNI], [TELEFONO], [ROL], [TURNO]) VALUES (0, N'00000000-0000-0000-0000-000000000000', N'default', N'default', 0, N'default', N'default', N'Mañana')
INSERT [dbo].[EMPLEADO] ([COD_EMPLEADO], [ID_BONO], [NOMBRE], [APELLIDO], [DNI], [TELEFONO], [ROL], [TURNO]) VALUES (366, N'252e53c2-0054-4701-9a9e-da5651d78753', N'Cony', N'Perciante', 45281366, N'11 3131-0076', N'Cocinera', N'Tarde')
GO
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [ID_CLIENTE], [COD_EMPLEADO], [FECHA_HORA], [ESTADO]) VALUES (N'807ed754-2a5f-4863-ad0a-187e4940bf67', N'00000000-0000-0000-0000-000000000000', 366, CAST(N'2024-09-26T19:23:39.000' AS DateTime), N'Finalizado')
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [ID_CLIENTE], [COD_EMPLEADO], [FECHA_HORA], [ESTADO]) VALUES (N'ade04243-4151-496c-9f39-470829307a55', N'00000000-0000-0000-0000-000000000000', 0, CAST(N'2024-09-26T19:12:31.000' AS DateTime), N'Pendiente')
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [ID_CLIENTE], [COD_EMPLEADO], [FECHA_HORA], [ESTADO]) VALUES (N'766944ed-56b3-4460-914a-716a83f814b6', N'00000000-0000-0000-0000-000000000000', 0, CAST(N'2024-09-26T19:21:49.000' AS DateTime), N'Pendiente')
GO
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [TIPO]) VALUES (N'00000000-0000-0000-0000-000000000000', N'default', N'default', CAST(0 AS Decimal(18, 0)), N'Comida')
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [TIPO]) VALUES (N'9bf0fbcc-8ff5-468c-a308-04406a3b91e7', N'Alfa Cookie', N'Alfajor de galletita con dulce de leche', CAST(300 AS Decimal(18, 0)), N'Comida')
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [TIPO]) VALUES (N'a004c1e2-2a11-46a4-b5f1-331f2729b2dd', N'Matcha Latte', N'Bebida fria con matcha y leche.', CAST(260 AS Decimal(18, 0)), N'Bebida')
GO
INSERT [dbo].[TAREA] ([ID_TAREA], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (N'5dfed908-1387-4ce7-8df8-5b47bf12bd8c', N'Limpiar Pisos', N'Barrer y trapear los pisos de la cocina y del almacen', N'Finalizada')
INSERT [dbo].[TAREA] ([ID_TAREA], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (N'888d758a-dbb4-42f6-b07b-7f593fbeb6ea', N'Ordenar Almacen', N'Sacar los contenidos de las cajas y poner en los estantes ', N'Finalizada')
INSERT [dbo].[TAREA] ([ID_TAREA], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (N'abbd3fc6-457b-48a8-b1dc-a44d3b47a134', N'Recargar Toppings', N'Rellenar Toppings de los tarros y de las verduras', N'Finalizada')
GO
ALTER TABLE [dbo].[BONO] ADD  CONSTRAINT [DF_BONO_ID_BONO]  DEFAULT (newid()) FOR [ID_BONO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF__CLIENTE__NewIdCo__160F4887]  DEFAULT (newid()) FOR [ID_CLIENTE]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] ADD  CONSTRAINT [DF__DETALLE_P__NewId__17F790F9]  DEFAULT (newid()) FOR [ID_DETALLE]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  CONSTRAINT [DF__PEDIDO__NewIdCol__2A164134]  DEFAULT (newid()) FOR [ID_PEDIDO]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF__PRODUCTO__NewIdC__151B244E]  DEFAULT (newid()) FOR [ID_PRODUCTO]
GO
ALTER TABLE [dbo].[TAREA] ADD  CONSTRAINT [DF__TAREA__NewIdColu__14270015]  DEFAULT (newid()) FOR [ID_TAREA]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDO_PK_PEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PEDIDO_PK_PEDIDO]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDO_PK_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PEDIDO_PK_PRODUCTO]
GO
ALTER TABLE [dbo].[DETALLE_TAREA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_TAREA_PK_EMP] FOREIGN KEY([COD_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([COD_EMPLEADO])
GO
ALTER TABLE [dbo].[DETALLE_TAREA] CHECK CONSTRAINT [FK_DETALLE_TAREA_PK_EMP]
GO
ALTER TABLE [dbo].[DETALLE_TAREA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_TAREA_PK_TAREA] FOREIGN KEY([ID_TAREA])
REFERENCES [dbo].[TAREA] ([ID_TAREA])
GO
ALTER TABLE [dbo].[DETALLE_TAREA] CHECK CONSTRAINT [FK_DETALLE_TAREA_PK_TAREA]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_PK_BONO] FOREIGN KEY([ID_BONO])
REFERENCES [dbo].[BONO] ([ID_BONO])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_PK_BONO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_PK_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_PK_CLIENTE]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_PK_EMP] FOREIGN KEY([COD_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([COD_EMPLEADO])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_PK_EMP]
GO
USE [master]
GO
