<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="BackendType" value="0"/>
		<add key="ServiceBackendType" value="1"/>

		<add key="PathLogError" value="Errors/ErrorLog.txt"/>
		<add key="PathLogInfo" value="Bitacora/InfoLog.txt"/>

		<add key="LanguagePath" value="Languages"/>
		<add key="UserLanguageConfigPath" value="LanguageConfig\UserLanguageConfig.txt"/>

		<add key="BackUpSecurityPath" value="Backups\CoffeeSecurityBackUp.bak"/>
		<add key="BackUpMainPath" value ="Backups\GestionWorkFlowBackUp.bak"/>

		<add key ="HelpManualPath" value ="Help/ManualdeAyuda.chm"/>
	</appSettings>
	<connectionStrings>
		<add name="GestionWorkFlowEntities"
			 connectionString="metadata=res://*/GestionWorkFlowEntities.csdl|res://*/GestionWorkFlowEntities.ssdl|res://*/GestionWorkFlowEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=GestionWorkFlow;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />

		<add name="CoffeeSecurity" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CoffeeSecurity;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>