USE [master]
GO
/****** Object:  Database [CoffeeSecurity]    Script Date: 08/11/2024 18:28:58 ******/
CREATE DATABASE [CoffeeSecurity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoffeeSecurity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CoffeeSecurity.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoffeeSecurity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CoffeeSecurity_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoffeeSecurity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoffeeSecurity]
GO
/****** Object:  Table [dbo].[FAMILIA]    Script Date: 08/11/2024 18:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILIA](
	[ID_FAMILIA] [uniqueidentifier] NOT NULL,
	[ROLE_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK__FAMILIA__30F41059667AE414] PRIMARY KEY CLUSTERED 
(
	[ID_FAMILIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAMILIA_PATENTE]    Script Date: 08/11/2024 18:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILIA_PATENTE](
	[ID_FAMILIA] [uniqueidentifier] NOT NULL,
	[ID_PATENTE] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FAMILIA_PATENTE] PRIMARY KEY CLUSTERED 
(
	[ID_FAMILIA] ASC,
	[ID_PATENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATENTE]    Script Date: 08/11/2024 18:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATENTE](
	[ID_PATENTE] [uniqueidentifier] NOT NULL,
	[PERMISO_NAME] [varchar](100) NOT NULL,
	[TIPO_ACCESO] [int] NOT NULL,
	[DATAKEY] [varchar](100) NOT NULL,
 CONSTRAINT [PK__PATENTE__A1CDF34F128F81E0] PRIMARY KEY CLUSTERED 
(
	[ID_PATENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 08/11/2024 18:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [uniqueidentifier] NOT NULL,
	[USERNAME] [varchar](150) NOT NULL,
	[PASSWORD] [varchar](150) NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[DIGIT] [varchar](200) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_FAMILIA]    Script Date: 08/11/2024 18:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_FAMILIA](
	[ID_USUARIO] [uniqueidentifier] NOT NULL,
	[ID_FAMILIA] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_USUARIO_FAMILIA] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_FAMILIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[FAMILIA] ([ID_FAMILIA], [ROLE_NAME]) VALUES (N'f0fe2ef3-fbab-48b2-a98a-337e511c275e', N'Gerente')
INSERT [dbo].[FAMILIA] ([ID_FAMILIA], [ROLE_NAME]) VALUES (N'fbae7917-2832-44e8-8846-3ae0bbf55afe', N'prueba')
INSERT [dbo].[FAMILIA] ([ID_FAMILIA], [ROLE_NAME]) VALUES (N'9152250d-9941-4faa-ac62-a39b96273b16', N'Administrador')
GO
INSERT [dbo].[FAMILIA_PATENTE] ([ID_FAMILIA], [ID_PATENTE]) VALUES (N'f0fe2ef3-fbab-48b2-a98a-337e511c275e', N'3f09765f-f4af-4cea-8fa1-1c7aea668e99')
INSERT [dbo].[FAMILIA_PATENTE] ([ID_FAMILIA], [ID_PATENTE]) VALUES (N'f0fe2ef3-fbab-48b2-a98a-337e511c275e', N'06f25718-e4b9-4654-bd57-4044b7318f50')
INSERT [dbo].[FAMILIA_PATENTE] ([ID_FAMILIA], [ID_PATENTE]) VALUES (N'f0fe2ef3-fbab-48b2-a98a-337e511c275e', N'1b6addfd-56a9-48b5-8082-7e5f9c7f56ef')
GO
INSERT [dbo].[PATENTE] ([ID_PATENTE], [PERMISO_NAME], [TIPO_ACCESO], [DATAKEY]) VALUES (N'00000000-0000-0000-0000-000000000000', N'verBtnEliminarProduDetalles', 0, N'btnEliminarProduDetalles')
INSERT [dbo].[PATENTE] ([ID_PATENTE], [PERMISO_NAME], [TIPO_ACCESO], [DATAKEY]) VALUES (N'e5dd4f77-7689-44ca-9a50-10de019dc2c1', N'verGroupManejoPedidos', 0, N'groupManejoPedidos')
INSERT [dbo].[PATENTE] ([ID_PATENTE], [PERMISO_NAME], [TIPO_ACCESO], [DATAKEY]) VALUES (N'3f09765f-f4af-4cea-8fa1-1c7aea668e99', N'verGroupDeletTarea', 0, N'groupDeleteTarea')
GO
INSERT [dbo].[USUARIO] ([ID_USUARIO], [USERNAME], [PASSWORD], [ESTADO], [DIGIT]) VALUES (N'471b0af1-a00c-4b6a-863f-7313aa5edc96', N'admin2024', N'efa9f14d92d5c11ae4749e3a5eed57c1', 1, N'02f96df2e23d7d48e879051e64310549')
INSERT [dbo].[USUARIO] ([ID_USUARIO], [USERNAME], [PASSWORD], [ESTADO], [DIGIT]) VALUES (N'cfbbbaf6-dc88-4aa7-80d3-90cb0b2268c3', N'gerente2024', N'634996205b2f9df49596bd089901275b', 1, N'0dbcc9daf61c3b59e9e4433fd6445b90')
INSERT [dbo].[USUARIO] ([ID_USUARIO], [USERNAME], [PASSWORD], [ESTADO], [DIGIT]) VALUES (N'02af4ed0-ff25-4d46-990f-d4b0c4ed77ec', N'prueba', N'a8c8acb0812f9b14267e3d2004ceae8f', 1, N'7dbe90a5c6e22769eccd15c6105865a3')
GO
INSERT [dbo].[USUARIO_FAMILIA] ([ID_USUARIO], [ID_FAMILIA]) VALUES (N'471b0af1-a00c-4b6a-863f-7313aa5edc96', N'9152250d-9941-4faa-ac62-a39b96273b16')
INSERT [dbo].[USUARIO_FAMILIA] ([ID_USUARIO], [ID_FAMILIA]) VALUES (N'cfbbbaf6-dc88-4aa7-80d3-90cb0b2268c3', N'f0fe2ef3-fbab-48b2-a98a-337e511c275e')
INSERT [dbo].[USUARIO_FAMILIA] ([ID_USUARIO], [ID_FAMILIA]) VALUES (N'02af4ed0-ff25-4d46-990f-d4b0c4ed77ec', N'fbae7917-2832-44e8-8846-3ae0bbf55afe')
GO
ALTER TABLE [dbo].[FAMILIA] ADD  CONSTRAINT [DF__FAMILIA__ID_FAMI__3A81B327]  DEFAULT (newid()) FOR [ID_FAMILIA]
GO
ALTER TABLE [dbo].[FAMILIA_PATENTE] ADD  CONSTRAINT [DF_FAMILIA_PATENTE_ID_FAMILIA]  DEFAULT (newid()) FOR [ID_FAMILIA]
GO
ALTER TABLE [dbo].[FAMILIA_PATENTE] ADD  CONSTRAINT [DF_FAMILIA_PATENTE_ID_PATENTE]  DEFAULT (newid()) FOR [ID_PATENTE]
GO
ALTER TABLE [dbo].[PATENTE] ADD  CONSTRAINT [DF__PATENTE__ID_PATE__403A8C7D]  DEFAULT (newid()) FOR [ID_PATENTE]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_ID_USUARIO]  DEFAULT (newid()) FOR [ID_USUARIO]
GO
ALTER TABLE [dbo].[USUARIO_FAMILIA] ADD  CONSTRAINT [DF_USUARIO_FAMILIA_ID_USUARIO]  DEFAULT (newid()) FOR [ID_USUARIO]
GO
ALTER TABLE [dbo].[USUARIO_FAMILIA] ADD  CONSTRAINT [DF_USUARIO_FAMILIA_ID_FAMILIA]  DEFAULT (newid()) FOR [ID_FAMILIA]
GO
ALTER TABLE [dbo].[FAMILIA_PATENTE]  WITH CHECK ADD  CONSTRAINT [FK_FAMILIA_PATENTE_PK_FAMILIA] FOREIGN KEY([ID_FAMILIA])
REFERENCES [dbo].[FAMILIA] ([ID_FAMILIA])
GO
ALTER TABLE [dbo].[FAMILIA_PATENTE] CHECK CONSTRAINT [FK_FAMILIA_PATENTE_PK_FAMILIA]
GO
ALTER TABLE [dbo].[FAMILIA_PATENTE]  WITH CHECK ADD  CONSTRAINT [FK_FAMILIA_PATENTE_PK_PATENTE] FOREIGN KEY([ID_PATENTE])
REFERENCES [dbo].[PATENTE] ([ID_PATENTE])
GO
ALTER TABLE [dbo].[FAMILIA_PATENTE] CHECK CONSTRAINT [FK_FAMILIA_PATENTE_PK_PATENTE]
GO
ALTER TABLE [dbo].[USUARIO_FAMILIA]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_FAMILIA_PK_FAMILIA] FOREIGN KEY([ID_FAMILIA])
REFERENCES [dbo].[FAMILIA] ([ID_FAMILIA])
GO
ALTER TABLE [dbo].[USUARIO_FAMILIA] CHECK CONSTRAINT [FK_USUARIO_FAMILIA_PK_FAMILIA]
GO
ALTER TABLE [dbo].[USUARIO_FAMILIA]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_FAMILIA_PK_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO_FAMILIA] CHECK CONSTRAINT [FK_USUARIO_FAMILIA_PK_USUARIO]
GO
USE [master]
GO
